---
name: CI

on: pull_request

jobs:
  spec:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run fmt check
        run: cargo fmt -- --check
      - name: Run tests
        run: cargo test --verbose
