name: Rust

on:
  push:
    tags-ignore:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Run fmt check
        run: cargo fmt -- --check
      - name: Run tests
        run: cargo test --verbose
