name: Rust

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Run fmt check
        run: cargo fmt -- --check
      - name: Run tests
        run: cargo test

